<!-- <p>{{ name }}</p>
<input type="text" placeholder="Hola mundo" [(ngModel)]="name" />
<button (click)="save()">Click</button>

<br />
<br /> -->

<!-- <app-show-name [name]="name"></app-show-name> -->
<h1>Segundos: {{ seconds }}</h1>
